@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;1,400;1,700&display=swap');

.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Public Sans', sans-serif;
    background: hsl(0, 0%, 98%);
    font-size: 18px;
    overflow-x:hidden;
}
img {
    width: 100%;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

li {
    list-style: none;
}

/*Bootstrap utility*/

.btn-primary{
    background: linear-gradient( to right, hsl(136, 65%, 51%) , hsl(192, 70%, 51%));
}
.container ,
.row {
    height: inherit;
}


/*navbar*/
.navbar {
    z-index: 1;
}


/*header*/

#header {
    background: url(./images/bg-intro-desktop.svg) no-repeat 700px -290px;
    height: 80vh;
}

#header h1 {
    font-size: 3.5rem;
    color: hsl(233, 8%, 62%);
}

#header p {
    color:  hsl(233, 8%, 62%);
}
#header .img {
    left: 50%;
    overflow:hidden;
}
/*id=easy-bank section*/
#easy-bank {
    background:hsl(220, 16%, 96%) ;
}
#easy-bank h1 {
    font-size: 1.5rem;
    color: hsl(233, 26%, 24%);
    margin-bottom: 1rem;
}
#easy-bank p {
    font-size: .9rem;
}
.easy-bank-content {
    padding-top: 5rem;
    padding-bottom: 3rem;
}
#easy-bank img {
    width: 70px;
}
#article h1 {
    font-size: 1.5rem;
    color:hsl(233, 26%, 24%) ;
    margin-bottom: 2rem;
}
.card {
    border: none;
}
.card img {
    height: 13rem;
}
.card a {
    visibility: visible;
    text-decoration: none;
    color: hsl(233, 26%, 24%);
}
.card a:hover {
    color: hsl(136, 65%, 51%);
}
/*footer*/
#footer {
    background: hsl(233, 26%, 24%);
}
.white-logo {
    width: 150px;
    margin-top: 1.5rem;
}
.social img {
    width: 27px;
    margin-right: .5rem;
}
.social:hover {
    color: hsl(136, 65%, 51%);
}
#footer ul li {
    margin: .5rem;
}
#footer ul a {
    text-decoration: none;
}
#footer ul a:hover {
    color:hsl(136, 65%, 51%);
}

/*Media Quary*/
@media (max-width:768px){
    #header {
        background: url(./images/bg-intro-mobile.svg) no-repeat;
        background-position-x: center;
        background-position-y: -100px;
        background-size: contain;
    }
    #header .img {
        left: 0;
        bottom: 50%;
    }
    #header h1 {
        font-size: 2.5rem;
    }
    #easy-bank {
        margin-top: 3rem;
    }
}